<app-back-button></app-back-button>

<ion-content>
  <h2 class="ion-text-center">Create Category</h2>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Create Category
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
              <div class="input-group">
                <ion-item class="ion-padding">
                  <ion-label position="stacked">Category Name</ion-label>
                  <ion-input formControlName="categoryName" placeholder="Enter category name"></ion-input>
                </ion-item>
              </div>
              <ion-button expand="block" color="success" type="submit">
                <ion-icon name="add" slot="start"></ion-icon>
                Create Category
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
