img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50px !important;
}

@media (min-width: 768px) {
  img {
    width: 33%;
    margin: auto;
  }
}

.errors {
  color: #eb445a;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
}

ion-item {
  --background: rgb(20, 20, 20);
  --border-color: var(--ion-color-medium);
  --color: #ffffff;
  margin-bottom: 16px;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  font-family: 'Philosopher', sans-serif;
  --color: #ffffff;
}

ion-input {
  font-family: 'Philosopher', sans-serif;
  --color: #ffffff;
  --placeholder-color: #cccccc;
}

ion-button {
  font-family: 'Philosopher', sans-serif;
  margin-top: 16px;
}

ion-button[color="primary"] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-button[color="tertiary"] {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-tertiary-contrast);
}

a {
  color: var(--ion-color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ion-fab-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
