ion-content {
  --background: #000000;
  --height: 100%;
  --display: flex;
  --justify-content: center;
  --align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 11rem;
  width: 11rem;
  top: -.5rem;
  left: -.5rem;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
}

.circle {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

.pointer-container {
  position: absolute;
  top: -3rem;
  left: 4rem;
  width: 2rem;
  height: 8rem;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer {
  background-color: white;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

.margin {
  padding-top: 8rem;
}

@media(min-width: 1080px) {
  ion-img {
    width: 50%;
    height: auto;
  }
}
@media(max-width: 1080px) {
  ion-img {
    width: 100%;
    height: auto;
    padding: 0px !important;
  }
  ion-card-header {
    padding: 0px !important;
  }
}

.preview {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.fallback {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

ion-item {
  --background: rgb(0, 0, 0);
  font-size: 25px !important;
  color: #38fcff !important;
  width: 100%;
}

ion-label {
  font-size: 21px !important;
}

h2 {
  font-size: 40px !important;
  font-weight: 500 !important;
}

ion-content {
  --background: rgb(0, 0, 0);
}

// Original breathing animation styles
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0;
}

.circle {
  background: #010f1c;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #010f1c;
  box-shadow: 0 0 0 0 #010f1c;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.container.grow {
  animation: grow 3s linear forwards;
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
