<ion-menu contentId="content" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- User Profile Section -->
    <div class="user-profile" *ngIf="profile" (click)="navigateToProfile()">
      <ion-avatar class="profile-avatar">
        <img *ngIf="profile.imageUrl" [src]="profile.imageUrl" [alt]="profile.userName || 'Profile Picture'">
        <ion-icon *ngIf="!profile.imageUrl" name="person" class="default-avatar"></ion-icon>
      </ion-avatar>
      <div class="user-info">
        <h3 class="user-name">{{ profile.userName || 'User' }}</h3>
        <p class="user-email">{{ profile.email }}</p>
      </div>
    </div>

    <ion-list>
      <ion-menu-toggle auto-hide="false" menu="first">
        <ion-item routerLink="/home" routerDirection="root" routerLinkActive="active-item" lines="none">
          <ion-label>
            Home
          </ion-label>
        </ion-item>
        <div *ngFor="let serie of series">
          <div *ngIf="serie.privacy !== 'private'">
            <ion-item [routerLink]="['/view-collection', serie.serieName]" routerDirection="root" routerLinkActive="active-item" lines="none">
              <ion-label>
                {{serie.serieName}}
              </ion-label>
            </ion-item>
          </div>
        </div>
        <ion-item routerLink="/breath-meditation" routerDirection="root" routerLinkActive="active-item" lines="none">
          <ion-label>
            Breath Meditation
          </ion-label>
        </ion-item>
        <ion-item routerLink="/daily-readings" routerDirection="root" routerLinkActive="active-item" lines="none">
          <ion-label>
            Daily Readings
          </ion-label>
        </ion-item>
        <ng-container *ngFor="let page of specialPages">
          <ion-item [routerLink]="['/page', getPageSlug(page)]" routerDirection="root" routerLinkActive="active-item" lines="none">
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ng-container>
        <ion-item routerLink="/growth-blog" routerDirection="root" routerLinkActive="active-item" lines="none">
          <ion-label>
            Growth Blog
          </ion-label>
        </ion-item>
        <ion-item routerLink="/profile" routerDirection="root" routerLinkActive="active-item" lines="none">
          <ion-label>
            Profile
          </ion-label>
        </ion-item>
        <ion-item routerLink="/admin-dash" routerDirection="root" routerLinkActive="active-item" lines="none" *ngIf="profile?.userRole === 'admin'">
          <ion-label>
            Admin Dashboard
          </ion-label>
        </ion-item>
        <ion-item (click)="logout()" lines="none">
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content"></ion-router-outlet>
