<app-back-button></app-back-button>

<ion-content class="ion-text-center">
  <h2 class="ion-text-center">Collection</h2>
  <ion-grid>
    <ion-row>
      <ion-col sizeXl="4" offsetXl="4" sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <div class="ion-padding">
          <h2>Collection Contents</h2>
          <div *ngFor="let post of posts">
            <div *ngIf="post.seqNo >= 1 && post.privacy !== 'private'">
              <ion-item [routerLink]="['/admin-dash/posts/view-post', post.id]" class="" lines="none">
                {{ post.title }}
              </ion-item>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXl="6" offsetXl="3" sizeLg="8" offsetLg="2" sizeMd="10" offsetMd="1">
        <div *ngFor="let post of posts">
          <div *ngIf="post.seqNo === 1 && post.privacy !== 'private'">
            <h2 class="title">{{ post.title }}</h2>
            <div class="preview">
              <div *ngIf="!post?.imageUrl; else placeholder;">
                <div class="fallback">
                </div>
              </div>
              <ng-template #placeholder>
                <img class="ion-padding" [src]="post.imageUrl" />
              </ng-template>
            </div>
            <p [innerHTML]="post.content"></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer-landing></app-footer-landing>
</ion-content>
