<app-back-button></app-back-button>

<ion-content class="ion-text-center">
  <h2>Collections</h2>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="4" offsetSm="4">
        <ion-list>
          <ion-item *ngFor="let serie of series" [routerLink]="['/admin-dash/collections/edit-collection', serie.id]" router-direction="forward">
            <ion-label>
              <h2>{{serie.serieName}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addSeries()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
