<app-back-button></app-back-button>

<ion-content class="ion-text-center">
  <h2 class="ion-text-center">Notes</h2>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <div class="ion-text-center">
          <ion-list>
            <ion-item *ngFor="let note of notes" [routerLink]="['/admin-dash/notes/edit-note', note.id]" router-direction="forward">
              <ion-label>
                {{ note.title }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/admin-dash/notes/add-note">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
