.footer-landing {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 0.95rem;
  color: #aaa;
  text-align: center;
}
.footer-landing a {
  color: var(--ion-color-primary);
  text-decoration: underline;
  font-size: 0.95em;
}
