<app-menu-header></app-menu-header>
<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/home" routerDirection="back">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid style="margin-top: 30px;">
    <ion-row>
      <ion-col class="ion-text-center">
        <h2 class="title">Growth Blog</h2>
        <img src="../../../../assets/images/istockphoto-1085122436-612x612(1).webp" />
      </ion-col>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let post of posts">
          <ion-col class="ion-text-center" sizeXl="4" offsetXl="0" sizeLg="4" offsetLg="0" sizeMd="6" offsetMd="0" sizeSm="8" offsetSm="2" sizeXs="10" offsetXs="1">
            <div *ngIf="post.privacy !== 'private'" style="height: 100%;">
              <ion-card style="height: 100%;" [routerLink]="['/admin-dash/posts/view-post', post.id]" routerDirection="root">
                <ion-card-header>
                  <ion-img [src]="post.imageUrl"></ion-img>
                  <ion-card-title><h2>
                    {{ post.title }}</h2>
                  <sub>{{ post.date | date }}</sub>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{post.description}}</p>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ng-container>
    </ion-row>
  </ion-grid>
  <app-footer-landing></app-footer-landing>
</ion-content>
