<app-back-button></app-back-button>

<ion-content class="ion-text-center">
  <h2>Users</h2>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="4" offsetSm="4">
        <ion-list>
          <ion-item *ngFor="let user of users" [routerLink]="['/admin-dash/users/view-user', user.id]" router-direction="forward">
            <ion-label>
              <h2>{{user.userName}}</h2>
              <p>{{user.email}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
